* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: inter;
}
body {
  background: #F1F1F1;
}
header {
  width: 100%;
  background: #1c181d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.logo2{
  display: none;
}
.search-bar {
  position: relative;
  background-color: #322f33;
  border-radius: 8px;
  width: 480px;
  height: 32px;
  display: flex;
  align-items: center;
}
.search-input:focus{
  border: 2px solid #e3e3e3;
}
.search-input:hover{
  border: 1px solid #e3e3e3;
}

.search-bar svg {
  cursor: pointer;
  position: absolute;
  left: 8px;
}
.search-input {
  padding-left: 30px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #656266;
  color: #e3e3e3;
  width: 100%;
  height: 100%;
}
.search-input::placeholder {
  color: #e3e3e3;
 font-size: 14px;
}
.user-details {
  display: flex;
  gap: 10px;
  align-items: center;
}
.notification{
  position: relative;
  background: #322f33;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  padding: 4px;
  align-items: center;
  cursor: pointer;
}
 .notification:focus{
 border: 2px solid #005BD3;
}

.notification:hover{
  background-color: #616161;
  transition: 0.2s ease-in-out;
}
.notif-1:focus, .notif-2:focus, #details:focus{
  border: 2px solid #005BD3;
}
.notif-1:hover, .notif-2:hover{
  background-color: #F1F1F1;
  transition: 0.2s ease-in-out;
}
.notification-dropdown {
  display: none;
  width: 383px;
  height: 120px;
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #E3E3E3;
  padding: 16px;
  z-index: 1;
  cursor: default;
}
.notification-dropdown.active{
display: block;
}
.notification-title{
display: flex;
justify-content: space-between;
align-items: center;
}
.notification-title p{
font-size: 15px;
font-weight: 700;
}
.notification-icons{
display: flex;
gap: 19px;
align-items: center;
}
.notification-message{
margin-top: 16px;
background: #F1F1F1;
font-size: 12.5px;
font-weight: 600;
padding: 16px;
}
.davii {
  background: #322f33;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 1px;
  width: 142px;
  height: 32px;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 3px;
  font-weight: bold;
  cursor: pointer;
}
.davii:focus{
  border: 2px solid #005BD3;
}
.davii:hover{
  background-color: #616161;
  transition: 0.2s ease-in-out;
}
.user-name, .user-icon{
  font-size: 12px;
}
.user-icon {
  background: #36FBA1;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  padding: 6px;
  color:#616161;
}
.user-dropdown{
  display: none;
  width: 320px;
  height: 384px;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #E3E3E3;
  z-index: 1;
  cursor: default;
}
.user-dropdown.active{
  display: block;
}
.user-dropdown a{
  color: #322f33;
  text-decoration: none;
  font-weight: 500;
}
.user-title{
  margin: 4px 6px;
  background: #F1F1F1;
  border-radius: 8px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user{
  display: flex;
  gap: 8px;
  align-items: center;
}
.dc{
  background: #36FBA1;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  padding: 6px;
  color:#616161;
  font-size: 12px;
  font-weight: 500;
}
.collection{
  font-size: 13px;
  font-weight: 600;
}
.stores{
  margin: 4px 6px;
  padding: 7px;
  outline: none;
  display: flex;
  width: 308px;
  gap: 8px;
  align-items: center;
  border-radius: 8px;
  font-size: 13px;
}
.user-text{
  font-size: 13px;
}
.stores:hover{
  background-color: #F1F1F1;
}
.stores:focus{
  border: 2px solid #005BD3;
}

li{
  list-style-type: none;
}
.name{
  margin: 4px 6px;
  padding: 6px;
  font-size: 13px;
}
.fullname{
  font-weight: 600;
}
.email{
  color: #616161;
}
.hr{
  width: 100%;
  height: 1px;
  background: #E3E3E3;
}
main{
  margin: 32px auto;
  width: 800px;
}
.plan{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color:#1c181d;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 16px;
  padding-right: 8px;
  border-radius: 6px;
}
.plan-text{
  color:#e3e3e3;
  font-size: 13px;
  font-weight: 500;
}
button{
  padding: 2px 10px;
  border-radius: 6px;
  background: #fff;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  border: none;
}
button:hover{
  background: #F7F7F7;
  transition: 0.2s ease-in-out;
}
button:focus{
  border: 2px solid #005BD3;
}
.btns{
  display: flex;
  gap: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
}
.close-btn{
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
}
.close-btn:hover{
  background: none;
  color: #F7F7F7;
}
.steps{
margin-top: 16px;
background: white;
padding: 16px;
border-radius: 18px;
border: 1px solid #e3e3e3;
}
.dropdown.open .dropdown-icon {
  transform: rotate(-180deg);
}
.s-header{
 display: flex;
 justify-content: space-between;
}
.s-title{
  font-size: 14px;
  font-weight: 600;
}
.s-header svg{
  cursor: pointer;
}
.s-header svg:hover{
  background: #F0F0F0;
  border-radius: 5px;  
}
.mini-text{
  font-size: 14px;
  margin-top: 5px;
}
.progress-area{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}
.progress-text{
  font-size: 13px;
}
.progress-bar{
  width: 100px;
  height: 5px;
  background: #E3E3E3;
  border-radius: 6px;
}
.progress-bar .progress{
  height: 100%;
  width: 0;
  background: #1c181d;
  border-radius: inherit;
  transition: width 0.4s;
}
label{
  position: relative;
  padding-left: 15px;
  width: 100%;
  max-width: 24px;
  height: 24px;
  cursor: pointer;
  flex-grow: 1;
}
label:focus{
  outline: none;
  border: none;
}
.step-checkbox{
  display: block;
  position: fixed;
  right: -10000000000vw;
}
input + span > svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
input + span > svg:nth-of-type(1) {
  opacity: 1;
}
input + span:hover > svg:nth-of-type(2){
  opacity: 1;
}
input:focus > span > svg:nth-of-type(5){
  opacity: 1;
}
input:checked + span > svg{
  animation-name: checkSvgAnimation;
  animation-duration: 100ms;
  animation-fill-mode: both;
}
.close-btn1{
  display: none;
}
input:checked + span > svg:nth-of-type(1){
  opacity: 0;
}
input:checked + span > svg:nth-of-type(2){
  animation-delay: 50ms;
}
input:checked + span > svg:nth-of-type(3){
  animation-delay: 150ms;
}
input:checked + span > svg:nth-of-type(4){
  animation-delay: 230ms;
}
input:checked + span > svg:nth-of-type(5){
  animation-delay: 300ms;
}
input:checked + span > svg:nth-of-type(6){
  animation-delay: 380ms;
}
input:checked + span > svg:nth-of-type(7){
  animation-delay: 450ms;
}
input:checked + span > svg:nth-of-type(8){
  animation-delay: 520ms;
}
input:checked + span > svg:nth-of-type(9){
  animation-delay: 600ms;
}
input:checked + span > svg:nth-of-type(10){
  animation-delay: 700ms;
  opacity: 1;
}
@keyframes checkSvgAnimation {
   0% {
    opacity: 0;
   } 
   50% {
    opacity: 1;
   } 
   100%{
    opacity: 1;
   } 
}
.step{
  padding: 9px;
  margin-top: 8px;
  margin-left: -8px;
  margin-right: -8px;
}
.step:first-child{
  margin-top: 24px;
}
.step.active{
  background: #F1F1F1;
  border-radius: 10px;
  cursor: pointer;
}
.step input{
  display: none;
}
.step01{
  display: flex;
  align-items: center;
  gap: 10px;
}
.step1-header{
  font-size: 14px;
  font-weight: 600;
  cursor:default;
}
.step-flex {
  display: flex;
  justify-content: space-between;
  margin-left: 22px;
  gap: 80px;
  padding: 4px;
}

.step-flex p{
  font-size: 13px;
  color: #656266;
  font-weight: 500;
  margin-top: 15px;
}
.step-flex a{
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
  text-decoration: none;
  color: #005BD3;
}
.step-btn{
  background: #322f33;
  padding: 8px;
  color: #fff;
  font-weight: 600;
  border: 3px solid #656266;
  border-radius: 10px;
  font-size: 13px;
}
.step-btn:hover{
  background: #1c181d;
  transition: 0.3s ease;
}
.step2btn{
  margin-top: 20px;
}
.step2btn a{
  background: transparent;
  padding: 8px;
  margin-left: 16px;
  color: #1c181d;
  border-radius:10px;
  font-size: 13px;
  font-weight: 500;
}
.learn{
  outline: none;
  padding: 3px;
  border-radius: 6px;
}
.learn:focus{
  border: 2px solid #005BD3;
}
.import{
  outline: none;
}
.import:hover{
  background: #E3E3E3;
}
.import:focus{
  border: 2px solid #005BD3;
}
.img1 {
  -webkit-mask-image: linear-gradient(to top, transparent, black);
  mask-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.0000000000000000000000000000000000000000000000000000001));
  mask-mode: luminance;
  -webkit-mask-mode: luminance;
}



@media (max-width: 480px) {
.logo1{
  display: none;
}
.logo2{
  display: block;
}
.search-bar{
  margin-left: 10px;
}
.notification{
  margin-left: 10px;
}
.notification:focus{
  border: none;
 }
.notification-dropdown{
  width: 358px;
  height: 136px;
  top: 60px;
}
.notification-message{
  text-align: center;
}
.close-btn{
  display: none;
}
.close-btn1{
  display: inline-block;
  background: #1c181d;
}
.close-btn1:hover{
  background: #1c181d;
}
#lot{
  padding: 5px 3px;
}
#reet{
  display: flex;
}
.davii{
  width: 32px;
  height: 32px;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 0px;
}
.davii:focus{
  border: none;
}
.user-name{
  display: none;
}
.user-icon{
 font-size: 13px;
 height: 28px;
}
main{
  width: 100%;
}
.plan{
  border-radius: 0px;
  display: block;
  height: 104px;
}
.steps{
  border-radius: 0px;
}
.step-flex {
 gap: 0px;
}
.img1{
  display: none;
}

}

@media (max-width: 375px){
.notification-dropdown{
  width: 280px;
  line-height: 1.5;
}
}

@media (max-width: 325px){
.user-dropdown{
  right: 0px;
}
}